[Unit]
Description=LMS Hardware Control
After=multi-user.target

[Service]
ExecStart=/usr/bin/python3 /usr/local/bin/lms-control.py
Restart=always
User=root

[Install]
WantedBy=multi-user.target
